body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5a59f;
}

table {
  border-collapse: collapse;
  width: 50%;
  background-color: rgb(232, 232, 232);
  color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

 td {
  text-align: left;
  padding: 12px;
  border: 1px solid #000000;
}
th {
  background-color: #000000;
  color: rgb(232, 230, 230);
  border:2px solid white;
}
h2{
  color: red;
 
}